<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>Filter.JspFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/searchinformation</url-pattern>
        <url-pattern>/warrantyinformation</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SearchWarrantyInformationController</servlet-name>
        <servlet-class>Controller.SearchWarrantyInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.common.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantyInformationController</servlet-name>
        <servlet-class>Controller.Customer.WarrantyInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.common.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestForgetPassword</servlet-name>
        <servlet-class>Controller.common.RequestForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetForgetPassword</servlet-name>
        <servlet-class>Controller.common.ResetForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleController</servlet-name>
        <servlet-class>Controller.RoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantyRequestController</servlet-name>
        <servlet-class>Controller.Customer.WarrantyRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.common.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestManagementController</servlet-name>
        <servlet-class>Controller.ServiceManager.RequestManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTechnicianController</servlet-name>
        <servlet-class>Controller.ServiceManager.AssignTechnicianController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskController</servlet-name>
        <servlet-class>Controller.Technician.TaskController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayController</servlet-name>
        <servlet-class>Controller.common.VNPayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturnController</servlet-name>
        <servlet-class>Controller.common.VNPayReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>Controller.Technician.InvoiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestManagementController</servlet-name>
        <url-pattern>/requestmanagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TechnicianController</servlet-name>
        <servlet-class>Controller.ServiceManager.TechnicianController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TechnicianController</servlet-name>
        <url-pattern>/technicianlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyInformationController</servlet-name>
        <url-pattern>/searchinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyInformationController</servlet-name>
        <url-pattern>/warrantyinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestForgetPassword</servlet-name>
        <url-pattern>/requestforget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetForgetPassword</servlet-name>
        <url-pattern>/resetforget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleController</servlet-name>
        <url-pattern>/role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyRequestController</servlet-name>
        <url-pattern>/warrantyrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTechnicianController</servlet-name>
        <url-pattern>/assigntechnician</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskController</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayController</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturnController</servlet-name>
        <url-pattern>/return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/invoice</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminManagement</servlet-name>
        <servlet-class>Controller.Admin.AdminManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetail</servlet-name>
        <servlet-class>Controller.Admin.UserDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagement</servlet-name>
        <url-pattern>/admin-management</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetail</servlet-name>
        <url-pattern>/admin-management/userdetail</url-pattern>
    </servlet-mapping>
</web-app>
