<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SearchWarrantyInformationController</servlet-name>
        <servlet-class>Controller.SearchWarrantyInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantyInformationController</servlet-name>
        <servlet-class>Controller.WarrantyInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestForgetPassword</servlet-name>
        <servlet-class>Controller.RequestForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetForgetPassword</servlet-name>
        <servlet-class>Controller.ResetForgetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyInformationController</servlet-name>
        <url-pattern>/searchinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyInformationController</servlet-name>
        <url-pattern>/warrantyinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestForgetPassword</servlet-name>
        <url-pattern>/requestforget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetForgetPassword</servlet-name>
        <url-pattern>/resetforget</url-pattern>
    </servlet-mapping>
</web-app>
